*{
    margin: 0;
    padding: 0;   
   }
body
{
 
    /* padding: 5px; */
    /* margin: auto; */
    /* background:rebeccapurple; */
    background-image: url(https://picsum.photos/4180/3760); 
    /* padding-left: 30px; */
    /* height: 90%; */

    background-position:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  

}


/*  start header area style */
.google-header
{
    width: 100%;
    max-height: 500px;
    padding: 8px;
    float: right;
    font-family: sans-serif;
    text-align: center;
    justify-content: center;
}
.google-header
{
    max-width: 100%;
    border-radius: 50%;
}
.gmail-img
{
   
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 0;
    cursor: pointer;
    box-shadow: 0 1px 0 rgb(0 0 0 / 15%);

}
.header-icon
{
    float: right;
    width: 200px;
    margin-top: 32px;
    margin-right: 15px;
}
.header-icon .fa-th
{
    font-size: 20px;
    margin-top: 5px;
    color:white;
    float: right;
    margin-right: 20px;
    cursor:pointer;
}
.header-icon .fa-bell{
    font-size: 20px;
    margin-top: 5px;
    color: white;
    float: right;
    margin-right: 20px;
    cursor:pointer;
}
.header-icon .fa-th:hover
{
    color :white;
    font-size: 22px;
    border-radius: 25%;
}
.header-icon .fa-bell:hover{
 font-size: 26px;
}

.header-icon #gmail,#image{
    /* float:right; */
    margin-right: 15px;
    margin-top: 26px;
    color: white;
    font-weight:500;
    text-decoration: none;
    font-size: 14px;
}
.header-icon #gmail:hover,#image:hover{
    color: white;
    text-decoration: underline;
}

/*  end header area style */
/*  Start Search area style */

.google-search{
    font-family: sans-serif;
    padding: 20px;
}

.google-image img{
    margin: 30px;
    width: 250px;
    /* cursor: pointer; */
}
.input-group{
 margin: 13px auto 0px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    max-width: 550px;
    background-color: #F5F5F5;
    opacity: 1;
}

.form-control{
    border: none !important;
    border-radius: 20px !important;
    background: #F5F5F5;
    list-style-type: lower-latin;
}
.input-group-text{
    background: transparent !important;
    border: none !important;
}
.input-group .fas {
    color: gray;
    
}
#input-text{
    outline: none;
    padding: 5px 0px;
    background: white;
    border: 1px solid white;
    border-radius: 25px;
    /* box-shadow: 2px 2px 2px 2px white; */
}

.input-group .fa-microphone{
    cursor: pointer;
}
.form-control:focus{
    box-shadow: none !important;
}

input{
    outline: none !important;
    border: 1px solid white;
}
/* #icon1 ,#icon2{
    background: white;
} */

/*  end Serch area style */


/*  start Bookmarkstyle */

.bookmarks{
     width: 35% ; 
     height: 35%;
    font-family: sans-serif;
    display: grid;
    grid-template-rows:120px 120px ;
    flex-wrap:nowrap;;
    flex-wrap:nowrap;
    justify-content: center;
    align-content: center;
    margin-left: 32%;

}

.col-md-4{
    width: 120px !important;
    padding: none !important;
}

.site{
    width: 112px;
    height: 112px;
    border-radius: 5px;
    z-index: 999;
}

.site:hover{
   
    background: rgba(250, 249, 249, 0.1);
    cursor: pointer;
}
.site p{
    margin-top: 10px;
    font-size: 12px;
    color: white;
    text-align: center;
}
.site .fa{
    font-size: 25px;
    width: 48px;
    height: 48px;
    margin-left:35px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #d3d3d3;
    text-align: center;
    padding-top: 12px;
}
.site .fab{
    font-size: 25px;
    width: 48px;
    height: 48px;
    margin-left:35px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #d3d3d3;
    text-align: center;
    padding-top: 12px;
}



.site{
    flex-wrap:nowrap;
    background:transparent;
    align-self: center;
    flex-shrink: 3;
}
#icon1 , #icon2{
    background: transparent;
    border-radius: 50%;
}
/*  end Book mark style */
/*   start drop box  style */

.openbar{
  
  width: 350px;
  height: 500px;

  padding: 30px 0px 30px 35px ;
  /* margin-right: 15px;
  margin-top: 10px; */
  background: white;
  border-radius: 10px;
  overflow-y:auto; 
overflow-x:hidden;
display: flex;
justify-content: center;
/* align-content: center; */



}
.container{
    display: flex;
justify-content: space-around;
/* align-content: center; */
flex-direction: column;

}
#openbar1{
    width: 360px;
    position: absolute;
    right: 0px;
    top: 65px;
    display: none;
    z-index: 900;
  
    
} 

#openbar2{
    display: none;
    position: absolute;
    right: 20px;
    top: 65px;
    z-index: 900;

}
.col-sm{
    padding: 3px 3px;
    margin: 4px 4px 4px 4px;
    border-radius: 5px;
    width: 20px;
    height: 80px;
    box-sizing:border-box;

}
.col-sm:hover{
    background: rgb(189, 212, 240,0.5);
}
.logo{
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}
/*  end drop box style */

.temp{
    z-index: 999 !important;
}

/* drop down div */
.s-drop{
  
    margin-top: 0px;
    max-width: 550px;
    /* display: flex; */
    /* width:550px;
    height: 350px; */
    margin-left: 20%;
    height: 300px;
    /* background: red; */
    border-radius: 20px;
    /* justify-content: center;
    align-content:flex-start; */
 
}
.p-2{
    width: 100%;
    background: red;
    border: black;

}
.login-bar{
    justify-content:flex-start;
    align-items: center;
}
.open1{
    /* border: 2px solid black; */
    width: 300px;
    font-family: sans-serif;
    padding: 2px 2px;
    margin: 4px 4px;
}

#pop_up_img{
    padding: 2px 2px;
    margin-left: 36%;
    border-radius: 50%;

    height: 90px;
    width: 80px;
}
#m-account{
    background: whitel;
    font-family: sans-serif;
    font-weight: 200;
    font: 20;
    border: 1px solid rgb(231, 226, 226);
    border-radius: 25px;
    width: 200px;
    padding: 2px;
   margin-left: 45px;
}
#m-account:hover{
    background: rgb(231, 226, 226);

}


#openbar1::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #openbar1{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  #openbar2::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #openbar2{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .mail-photo{
      margin-top: 20px;
      border-top: 1px solid rgb(214, 213, 213);
      border-bottom: 1px solid rgb(212, 209, 209);
      display: flex;
      grid-template-rows: 1fr 6fr;
      box-sizing: border-box;
      column-gap: 10px;
      height: 60px;
      width: 100rem;
  }
  .mail-photo:hover{
      background: rgb(241, 240, 240);
  }
  .name-div{
      /* grid-row: 1; */
    
      display: grid;
      grid-template-rows: 1fr 3fr;
      text-align: center;
  }

  /* drop down style */
 
  .input-group{
      display: none;
      justify-content:left;
      /* align-items:flex-start; */
  }
  .search-item{
    margin: 0;
    padding: 5px 15px 5px 15px;
    display: inline-table;
   

}
  #drop-down{
      height: 300px;
      display: none;
  }
.items{
    cursor: default ;
}